# PostgreSQL Configuration
POSTGRES_PASSWORD=PLEASE_CHANGE_HERE_FOR_SECURITY_REASON
POSTGRES_USER=iasskey
POSTGRES_DB=iasskey

# Misskey Configuration
MISSKEY_URL=https://your.host
MISSKEY_PORT=8080
MISSKEY_HOST=0.0.0.0
NODE_ENV=production

# Meilisearch Configuration
MEILI_MASTER_KEY=PLEASE_CHANGE_HERE_FOR_SECURITY_REASON
